*header {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.linea {
  background-color: antiquewhite;
  border: 3px;
  text-align: center;
  color: teal;
  padding: 20px;
}
.crediti {
  text-align: center;
  color: rgb(97, 91, 91);
}
.main {
  width: 40%;
  width: 100%;
}
